*{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
}
body {
    background-image: url(../images/54347.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
header {
    min-height: 17vh !important;
}
main {
    min-height: 74vh !important;
}
footer {
    height: 5vh !important;
}
.navbar {
    background-color: #0f3c69!important;
}
.imagennavbar {
    height: 15vh !important;
    width: 10vw !important;
}
table {
    width: 90vw !important;
    background-color: #00000066;
}
table, th, tr, td {
    border: 2px solid black !important;
    border-collapse: collapse !important;
    text-align: center !important;
    background-color: #00000070;
  color: white;
}
caption {
    padding: 0.3em;
    background: #00000070;
    caption-side: top !important;
}

.buttom{
    background-color: rgba(104, 68, 92, 0.959);
    color: #fff;
    font-size: 1.2rem !important;
    border: 2px solid black;
}
.buttom:hover{
    background-color: rgba(104, 68, 92, 0.959);
    color: #fff;
    font-size: 1.3rem !important;
}
.iamgenElse {
    width: 5rem !important;
    height: 5rem !important;
}
.text-velse{
    background-color: #000000ad;
    padding: 5rem !important;
    border-radius: 10px !important;
}
.card {
    background-color: #000000ad !important;
}
