*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}
body {
    min-height: 100vh !important;
    background-image: url(../images/54347.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
header {
    min-height: 17vh !important;
}
main {
    min-height: 74vh !important;
}
footer {
    height: 5vh !important;
}
.navbar {
    background-color: #0f3c69!important;
  }
.imagennavbar {
    height: 15vh !important;
    width: 10vw !important;
}
.buttonSignOut{
    width: 150px;
    height: 40px;
    font-size: 1.1em;
    cursor: pointer;
    background-color: #171717;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all .4s;
    margin-right: 0.5rem !important;
    padding-top: 0.2rem !important;
  }
.buttonSignOut:hover{
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #f85959,
     0 15px 0 -4px #39a2db,
     0 16px 10px -3px #39a2db;
}
.buttonSignOut:active{
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #f85959,
     0 8px 0 -4px #39a2db,
     0 12px 10px -3px #39a2db;
  }