<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank "LA GUZMI"|Account</title>
    <link rel="stylesheet" href="../css/acount.css">
    <link rel="shortcut icon" href="../images/la-guzmi.png" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
</head>
<body>
  <div id="app">
    <header>
        <nav class="navbar navbar-expand-lg m-2 rounded-2">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img class="imagennavbar" src="../images/la-guzmi.png" alt="" />
            </a>
            <button class="navbar-toggler"type="button"data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3 text-center">
                <!-- <li class="nav-item">
                  <a class="nav-link text-white active" aria-current="page" href="./accounts.html">Home</a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link text-white" href="./accounts2.html">Account</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="./card.html">Card</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="./transfer.html">Transfer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled text-white">Customer Support</a>
                </li>
                <div class=" d-flex justify-content-center align-items-center">
                  <button type="button" class="buttonSignOut" @click="signOut()">Sign Out</button>
                </div>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    <main class="pt-5">
        <div v-if="transactions !=0" class="d-flex justify-content-around gap-3 flex-wrap">
          <table class="w-50">
            <caption class="text-center text-white">Your account details:</caption>
            <caption class="text-center text-white fs-3">Account Number:{{allAccount.number}} </caption>
            <thead>
              <tr>
                <th>Type of Description</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Time</th>
                <th>Current Balance</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="account of transactions">
                <td class="text-danger" v-if="account.type == `DEBIT`" ><strong>{{account.type}}</strong> </td>
                <td class="text-success" v-else><strong>{{account.type}}</strong> </td>
                <td >{{account.description}} </td>
                <td class="text-danger" v-if="account.type == `DEBIT`" ><strong>${{account.amount}}</strong> </td>
                <td class="text-success" v-else><strong>${{account.amount}}</strong> </td>
                <td>{{account.date.slice(0,10)}} </td>
                <td>{{account.date.slice(11,19)}} </td>
                <td>${{account.currentBalance}}</td>
              </tr>
            </tbody>
          </table>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title text-white">➼Detailed data of your account:</h5>
                <h3 class="text-center text-white">{{allAccount.number}}</h3>
              <h5 class="card-subtitle text-white">➼Creation Date:{{allAccount.creationDate}}</h5>
              <h5 class="card-subtitle text-white">➼Balance: ${{allAccount.balance.toFixed(2)}}</h5>
            </div>
          </div>
        </div>
        <div v-else class="d-flex p-5">
          <img class="iamgenElse w-50 h-50" src="../images/maxresdefault-removebg-preview.png" alt="">
         <div class="text-velse">
            <h4 class="text-white text-center">Oops, it seems that something happened...</h4>
            <h5 class="text-white text-center">It appears that you don't have any transactions in that account.</h5>
            <h5 class="text-white text-center">For any inquiries, you can contact us by accessing the "Contact" section, 
              and we will assist you with your situation.</h5>
            <p class="text-white text-center m-2">Thank you very much, Central Bank "La Guzmi".</p>
         </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <a class="text-center buttom m-5 text-decoration-none" href="./accounts.html">Go Back</a>
        </div>
    </main>
    <footer class="bg-black m-2 rounded-2 text-center">
        <h5 class="text-white">&copy Developed By : Tatiana Guzmán</h5>
    </footer>
  </div>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
      <script src="../js/account.js"></script>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"
      ></script>
</body>
</html>