<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bank "LA GUZMI"|home</title>
  <link rel="shortcut icon" href="../images/la-guzmi.png" type="image/x-icon" />
  <link rel="stylesheet" href="../css/style-acc.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
</head>
<body >
  <div id="app">
  <header>
    <nav class="navbar navbar-expand-lg m-2 rounded-2">
      <div class="container-fluid   ">
        <a class="navbar-brand" href="#">
          <img class="imagennavbar" src="../images/la-guzmi.png" alt="" />
        </a>
        <button class="navbar-toggler"type="button"data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3 text-center   d-flex  justify-content-end">
            <li class="nav-item">
              <a class="nav-link text-white active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="./accounts2.html">Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="./card.html">Card</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="./transfer.html">Transfer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled text-white">Customer Support</a>
            </li>
            <div class=" d-flex justify-content-center align-items-center">
              <button type="button" class="buttonSignOut" @click="signOut()">Sign Out</button>
            </div>
          </ul>
          
          </form>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="d-flex justify-content-center">
      <h3 class="d-flex flex-column align-items-center m-2 text-white ya">Welcome {{client.firstName}} {{client.lastName}}!</h3>
    </div>
    <div class="d-flex"  v-if="account.length < 3">
        <h3 class="d-flex justify-content-center align-items-center ya m-2 text-white">Your Accounts:</h3>
          <button class="buttonCreatedAccount" @click="created()">Created Account</button>
    </div>
    <div class="d-flex" v-else>
      <h3 class="d-flex justify-content-center align-items-center ya m-2 text-white">Your Accounts:</h3>
  </div>
    <div class="d-flex flex-wrap justify-content-around">
      <div class="flip-card2 d-flex" v-for="accounts of account">
        <div class="flip-card-inner2">
          <div class="flip-card-front2">
            <img src="../images/la-guzmi.card.png" alt="" />
          </div>
          <div class="flip-card-back2">
            <div class="d-flex justify-content-around">
              <div class="card text-center" style="width: 18rem">
                <div class="card-body">
                  <h5 class="card-title">
                    Account number: {{accounts.number}}
                  </h5>
                  <h5 class="card-subtitle">Creation Date: </h5>
                  <p>{{accounts.creationDate}}</p>
                  <h5 class="card-subtitle">Balance: ${{accounts.balance.toFixed(2)}}</h5>
                </div>
                <a v-bind:href="'./account.html?id=' + accounts.id" class="text-center buttom text-decoration-none">See Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="m-2 d-flex justify-content-end" >
      <a href="./loan-application.html" type="submit" class="text-decoration-none text-center createdCardsbutton">Apply</a>
     </div>
    <div v-if="loan !=0" class="pt-3 d-flex justify-content-center">
      <table >
        <caption class=" ya m-2 text-white">Here you have all your loans:</caption>
        <thead>
          <tr>
            <th>Loan name</th>
            <th>Payments</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="loans of loan">
            <td>{{loans.name}} </td>
            <td>{{loans.payments}} </td>
            <td>${{loans.amount}} </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="p-4 d-flex flex-wrap justify-content-center border border-black bg-black bg-opacity-50 m-5" v-else>
      <img src="../images/sorry-removebg-preview.png" class="imagensorry rounded-2" alt="">
      <h3 class="text-center text-white pt-5">At the moment you do not have loans made in the Bank...</h3>
    </div>
  </main>
  <footer class="bg-black m-2 rounded-2 text-center">
    <h5 class="text-white">&copy Developed By : Tatiana Guzmán</h5>
  </footer>
</div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/accounts.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
