<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank "LA GUZMI"|Account</title>
    <link rel="stylesheet" href="../css/clientLoan-aplication.css">
    <link rel="shortcut icon" href="../images/la-guzmi.png" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
</head>
<body>
  <div id="app">
    <header>
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img class="imagennavbar" src="../images/la-guzmi.png" alt="" />
            </a>
            <button class="navbar-toggler"type="button"data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3 text-center">
                <!-- <li class="nav-item">
                  <a class="nav-link text-white active" aria-current="page" href="./accounts.html">Home</a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link text-white" href="./accounts.html">Account</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="./card.html">Card</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="./transfer.html">Transfer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled text-white">Customer Support</a>
                </li>
                <div class=" d-flex justify-content-center align-items-center">
                  <button type="button" class="buttonSignOut" @click="signOut()">Sign Out</button>
                </div>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <main>
        <section>
          <h2 class=" text-center">Please select the type of loan you want to pay:</h2>
        </section>
         <div  class="d-flex justify-content-center align-items-center mt-1">
          <div class="card d-inline-block w-50 shadow">
              <div class="card-body">
                  <div >
                      <h5 class="text-white text-center">Select the loan you want to pay:</h5>
                      <select id="idLoanType" name="type" v-model="loanToPay" class="form-select">
                          <option v-for="loans of loan"  :value="loans.id">{{loans.name}} </option>
                      </select>
                  </div>
                  <div class="bg bg-white mt-3">
                    <p v-if="selectedLoan">The amount you need to pay is: <strong> ${{ (selectedLoan.amount / selectedLoan.payments).toFixed(2) }}</strong></p>
                  </div>
                  <div >
                      <h5 class="text-white text-center">Available installments</h5>
                      <select id="payments" name="type" v-model="account" class="form-select" >
                          <option v-for="accounts of accounts" >{{accounts.number}} </option>
                      </select>
                  </div>
              </div >
              <div class="d-flex justify-content-center m-1">
                <button type="button" class="submit m-1 text-center" @click.prevent="payToLoan()">Pay</button>
              </div>
          </div>
         </div>
          <div class="d-flex justify-content-around m-2">
              <a class="text-decoration-none bg bg-white rounded-5 text-black" href="./accounts.html"> GO BACK<img class="imagenGoBack" src="../images/back.png" alt="back"> </a>
          </div>
        
    </main>
    <footer class="mt-2 pt-2 d-flex justify-content-around align-items-center flex-wrap">
      <section class=" d-flex flex-column flex-wrap ">
            <div>
              <h5 class="text-white text-center">Contact Us:</h5>
            </div>
        <div class="d-flex flex-wrap gap-2">
            <i class="bi bi-telephone-fill"><a href="tel:0810-220-8466" class="ms-2 text-decoration-none text-white">TEL: 11-4560-8975</a></i>
            <i class="bi bi-envelope"><a href="mailto:homebankingLaGuzmi@laguzmi.com"
                    class="ms-2 text-decoration-none text-white">E-MAIL: homebankingLaGuzmi@laguzmi.com</a></i>
            <i class="bi bi-geo-alt-fill"><a href="" class="ms-2 text-decoration-none text-white">ADRESS: Paraguay 5533</a></i>
        </div>
      </section>
      <div class="">
        <h5 class="text-white text-center m-0">&copy Developed By : Tatiana Guzmán</h5>
      </div>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
      <script src="../js/clientLoan-application.js"></script>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"
      ></script>
</body>
</html>