<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank "LA GUZMI"|Home</title>
    <link rel="shortcut icon" href="../images/la-guzmi.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  <main id="app" >
    <div class="d-flex  flex-wrap align-items-center justify-content-center text-white">
      <div class="container-form d-flex flex-wrap justify-content-around " :class="{ 'sign-up': signUpActive, 'sign-in': signInActive }" v-if="!showSecondForm">
        <div class=" d-flex align-items-center text-center">
          <div class="message">
            <h2>Welcome To "La Guzmi"</h2>
            <p>If you have an account, sign in here...</p>
            <button class="sign-up-btn" @click="toggleForm">Sign Up</button>
          </div>
        </div>
        <form class="formulario">
          <h2 class="create-account">Create an account</h2>
          <div class="iconos d-flex justify-content-around">
            <div class="border-icon d-flex align-items-center justify-content-center">
              <a target="_blank" href="https://www.instagram.com/">
                <i class='bx bxl-instagram'></i>
              </a>
            </div>
            <div class="border-icon d-flex align-items-center justify-content-center">
              <a target="_blank" href="https://ar.linkedin.com/">
                <i class='bx bxl-linkedin'></i>
              </a>
            </div>
            <div class="border-icon d-flex align-items-center justify-content-center">
              <a target="_blank" href="https://es-la.facebook.com/">
                <i class='bx bxl-facebook-circle'></i>
              </a>
            </div>
          </div>
          <p class="cuenta-gratis">Create a free account</p>
          <label for="firstName"></label>
          <input class="d-block text-center" id="firstName" type="firstName" v-model="firstName" placeholder="First Name">
          <label for="lastName"></label>
          <input class="d-block text-center" id="lastName" type="lastName" v-model="lastName" placeholder="Last Name">
          <label for="emailRegister"></label>
          <input class="d-block text-center" id="emailRegister" type="email" v-model="emailRegister" placeholder="Email">
          <label for="passwordRegister"></label>
          <input class="d-block text-center" id="passwordRegister" type="password" v-model="passwordRegister" placeholder="Password">
          <button type="button" class="button-log-up" @click="register()">Check in</button>
        </form>
      </div>
      <div class="container-form d-flex flex-wrap justify-content-around " v-else>
        <form class="formulario">
          <h2 class="create-account">Sign Up</h2>
          <div class="iconos d-flex justify-content-around">
            <div class="border-icon d-flex align-items-center justify-content-center">
              <a target="_blank" href="https://www.instagram.com/">
                <i class='bx bxl-instagram'></i>
              </a>
            </div>
            <div class="border-icon d-flex align-items-center justify-content-center">
              <a target="_blank" href="https://ar.linkedin.com/">
               <i class='bx bxl-linkedin'></i>
              </a>
            </div>
            <div class="border-icon d-flex align-items-center justify-content-center">
              <a target="_blank" href="https://es-la.facebook.com/">
                <i class='bx bxl-facebook-circle'></i>
              </a>
            </div>
          </div>
          <p class="cuenta-gratis">Enter your account</p>
          <label for="email"></label>
          <input class="d-block text-center" type="email" id="email" v-model="email" placeholder="email">
          <label for="password"></label>
          <input class="d-block text-center" type="password" id="password" v-model="password" placeholder="Password">
            <button type="button" @click="login()" class="button-log-in">Log in</button>
        </form>
        <div class=" d-flex align-items-center text-center">
          <div class="message">
            <h2>Welcome Back To "La Guzmi"</h2>
            <p>If you don't have an account yet, sign up here...</p>
            <button class="sign-in-btn" @click="toggleBack">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/login.js"></script>
</body>
</html>