<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="../images/la-guzmi.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
    <link rel="stylesheet" href="@sweetalert2/themes/dark/dark.css">
    <link rel="stylesheet" href="../css/transfer.css">
</head>
<body>
    <div id="app">
        <header>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">
                    <img class="imagennavbar" src="../images/la-guzmi.png" alt="" />
                  </a>
                  <button class="navbar-toggler"type="button"data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3 text-center">
                      <!-- <li class="nav-item">
                        <a class="nav-link text-white active" aria-current="page" href="../index.html">Homepage</a>
                      </li> -->
                      <li class="nav-item">
                        <a class="nav-link text-white" href="./accounts.html">Account</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-white" href="./card.html">Card</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link text-white border border-end-0 border-top-0 border-white" href="#">Transfer</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link disabled text-white">Customer Support</a>
                      </li>
                      <div class=" d-flex justify-content-center align-items-center">
                        <button type="button" class="buttonSignOut" @click="signOut()">Sign Out</button>
                      </div>
                    </ul>
                  </div>
                </div>
              </nav>
        </header>
        <main>
          <section>
            <h3 class="text-center m-2">Please select the place where the transfer will be destined:</h3>
          </section>
              <div class="section">
                  <div class=" justify-content-center">
                    <div class="col-12 text-center">
                      <div class="section pb-5 pt-5 pt-sm-2 text-center">
                        <h6 class="mb-0 pb-3">
                            <span>Own account</span>
                            <span>Other account</span></h6>
                              <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                              <label for="reg-log"></label>
                        <div class="card-3d-wrap mx-auto">
                          <div class="card-3d-wrapper">
                            <div class="card-front">
                              <div class="center-wrap">
                                <div class="section text-center">
                                  <h4 class="mb-3 text-white">Own account</h4>
                                  <div class="">
                                    <h5 class="text-white">Choose the account to use:</h5>
                                    <select id="accountOrigin" class="form-select" v-model="transferDTO.accountOrigin" >
                                        <option v-for="accounts of account" :value="accounts.number" >{{accounts.number}} , BALANCE: <strong>$</strong> {{accounts.balance}}</option>
                                    </select>
                                    <h5 class="text-white">Choose the account to transfer:</h5>
                                    <select id="accountDestiny" class="form-select" v-model="transferDTO.accountDestination" >
                                        <option v-for="accounts of accountsExceptSelected" :value="accounts.number" >{{accounts.number}}, BALANCE:{{accounts.balance}} </option>
                                    </select>
                                    <label for="amount" class="text-white" >Amount:</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text"><strong>$</strong></span>
                                        <input type="number" class="form-control" id="amount" v-model="transferDTO.amount" aria-label="Amount (to the nearest dollar)">
                                      </div>
                                    <div class="input-group">
                                        <span class="input-group-text"><strong>Description:</strong></span>
                                        <textarea class="form-control" v-model="transferDTO.description" aria-label="With textarea"></textarea>
                                      </div>
                                    <div class="d-flex justify-content-center m-1">
                                        <input type="submit" class="submit m-1 text-center" value="SUBMIT" @click.prevent="makeTransfer()">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="card-back">
                              <div class="center-wrap">
                                <div class="section text-center">
                                  <h4 class="mb-3 text-white">Third party account</h4>
                                  <div class=" mt-2">
                                    <h5 class="text-white">Choose your account that you will use:</h5>
                                    <select id="accountOrigin" class="form-select" v-model="transferDTO.accountOrigin" >
                                        <option v-for="accounts of account" :value="accounts.number" >{{accounts.number}}, BALANCE:{{accounts.balance}} </option>
                                    </select>
                                  </div>  
                                  <div class=" mt-2">
                                    <label for="accountDestination" class="text-white">Enter the account number to send:</label>
                                    <input type="email" name="accountDestination" v-model="transferDTO.accountDestination" id="accountDestination" class="w-100" placeholder="ej: VIN-XXXXXX" autocomplete="off">
                                  </div>  
                                  <label for="amount" class="text-white" >Amount:</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text w-25"><strong>$</strong></span>
                                        <input type="number" id="amount" class="w-75" v-model="transferDTO.amount" aria-label="Amount (to the nearest dollar)">
                                      </div>
                                    <div class="input-group">
                                        <span class="input-group-text w-25 p-0"><strong>Description</strong></span>
                                        <textarea v-model="transferDTO.description" class="w-75" aria-label="With textarea"></textarea>
                                      </div>
                                    <div class="d-flex justify-content-center m-1">
                                        <input type="submit" class="submit m-1 text-center" value="SUBMIT" @click.prevent="makeTransfer1()">
                                    </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
              </div>
            
        </main>
        <footer class=" pt-2 d-flex justify-content-around align-items-center flex-wrap">
          <div class=" flex-wrap">
            <ul class="ps-5">
              <h5 class="text-white">Follow us on our accounts:</h5>
              <li>
                <a class="d-flex align-items-center m-1" target="_blank" href="https://es-la.facebook.com/">
                  <img class=" icono shadow  " src="../images/fb.png" alt="Logo de Facebook">
                  <p class="text-white m-0 text-decoration-none">|La Guzmi Fb</p>
                </a>
              </li>
              <li>
                <a class="d-flex align-items-center m-1" target="_blank"  href="https://ar.linkedin.com/?original_referer=https%3A%2F%2Fwww.google.com%2F">
                  <img class=" icono2  " src="../images/in.png" alt="Lode de wpp">
                  <p class="text-white m-0 text-decoration-none">|LaGuzmiLinkedin</p>
                </a>
              </li>
              <li>
                <a class="d-flex align-items-center m-1" target="_blank" href="https://www.instagram.com/">
                  <img class=" icono3  " src="../images/instagram.png" alt="Lode de ig">
                  <p class="text-white m-0 text-decoration-none">|La Guzmi Ig</p>
                </a>
              </li>
            </ul>
          </div>
          <section class=" d-flex flex-column flex-wrap ">
                <div>
                  <h5 class="text-white text-center">Contact Us:</h5>
                </div>
            <div class="d-flex flex-wrap gap-2">
                <i class="bi bi-telephone-fill"><a href="tel:0810-220-8466" class="ms-2 text-decoration-none text-white">TEL: 11-4560-8975</a></i>
                <i class="bi bi-envelope"><a href="mailto:homebankingLaGuzmi@laguzmi.com"
                        class="ms-2 text-decoration-none text-white">E-MAIL: homebankingLaGuzmi@laguzmi.com</a></i>
                <i class="bi bi-geo-alt-fill"><a href="" class="ms-2 text-decoration-none text-white">ADRESS: Paraguay 5533</a></i>
            </div>
          </section>
          <div class="">
            <h5 class="text-white text-center m-0">&copy Developed By : Tatiana Guzmán</h5>
          </div>
        </footer>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/transfer.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
</body>
</html>